{
    "presets": ["next/babel"],
    "plugins": [
        ["styled-components", { "ssr": true }],
        ["module-resolver", {
            "alias": {
              "@routes": "./src/routes",
              "@controllers": "./src/controllers",
              "@config": "./src/config"
            }
          }]
    ]
}